.pageWrapper {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 5px;
}


.topBrandsBar {
  background-color: #110f0f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.topBrandsBar h2 {
  font-size: 24px;
  color: #790909;
  margin-bottom: 20px;
  text-align: center;
}


.brandList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; 
}


.brandList :global(img) {
  object-fit: contain;
  border-radius: 5px;
}
